body{
    background-color: rgb(255, 251, 251);
    margin: 10px;
    padding: 10px;
}
.profile{
    display: grid;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 253px;
    background-color: rgb(26, 24, 24);
}
.profile img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 253px;
}
.profile p{
    margin: 2px;
}
.profile #name{
    color: rgb(241, 246, 246);
    font-size: 28px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}
.profile #title{
   color: rgb(240, 166, 76);
   font-weight: 100;
   font-size: 20px;
   display: flex;
   justify-content: center;
}
.profile #site{
    color: rgb(241, 246, 246);
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.buttons{
    display:flex; 
    justify-content: center;
    max-width: 253px;
    margin-bottom: 5px;
    padding-bottom: 20px;
    margin-top: none;
    margin: auto;
    background-color: rgb(26, 24, 24);
}
button{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
}
#email{
    border: none;
}
#linkedin{
    background-color: rgb(51, 94, 168);
    color: white;
    border: none;
}
.content{
    display: grid;
    max-width: 253px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    margin-top: none;
    margin: auto;
    background-color: rgb(26, 24, 24);
}
.content h2{
    color: white;
    margin-left: 5px;
    padding: 8px;
    padding-bottom: 0;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 23px;
}
.content p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 4px;
    padding: 8px;
    font-size: 18px;
    color: rgb(169, 175, 175); 
}
.Socialmedia{
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    background-color: black;
    max-width: 223px;
    margin: auto;
}
